/* AUXILIAR STYLES */
div {
	/*border: solid 2px red;*/
}

body {
	background: #ecf2f9;
}
#wrapper {
/*
	background-color: white;
	width: 960px;
	margin : -10px auto;
	padding: 20px;
*/
}
#header {
	background-color: #c2d6d6;
	padding: 20px;
	margin-bottom: 10px;
}
#main {
	background-color: #e0ebeb;
	padding: 20px;
	margin: 20px 0;
}
#content{
	padding: 0;
	margin: 10px 0;
}
#secondary{
	background-color: #e0ebeb;
	padding: 20px;
	margin: 10px 0;
}
#footer{
	background-color: #ffe6b3;
	padding: 20px;
	margin-top: 20px;
}