<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>records-list.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/style.css" th:href="@{css/style.css}"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div id="wrapper" class="container">
		<div class="jumbotron">
			<div id="header">
				<h1>records-list.html</h1>
				<p th:text="${message}"></p>
			</div>
			<div id="main">
				<h2>Main</h2>
				<div id="content">
					<img src="/images/feeds-list.jpg" width="259"
						th:src="@{/images/feeds-list.jpg}" />
					<div>
						<a href="/">root</a> 
						<br> 
						<br> <a href="/default">default</a>
						<br> <a href="/home">home</a> 
						<br> <a href="/homeXYZ">homeXYZ</a>
						<br> 
						<br> <a href="/lastFeed">lastFeed</a> 
						<br> <a href="/feedsList" >feedsList</a>
						<br> <a href="/index.html">index.html</a>
					</div>
				</div>
			</div>
			<div id="secondary">
				<h3>Secondary</h3>
			</div>
			<div id="footer">
				<h3>Footer</h3>
			</div>
		</div>
	</div>
</body>
</html>